.profile__avatar {
    width: 100%;
    height: 100%;
    border-radius: 60px;
    object-fit: cover;
    object-position: top left;
    transition: opacity 0.5s ease 0.1s;
    cursor: pointer;
    margin: 0;
}
.profile__avatar:hover {
    opacity: 0.2;
}
